<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Друзья и книги</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">
</head>
<body>
<div id="header_nav">
    <div id="header_nav-center">
        <div class="header_nav-menu active">Книги друзей</div>
        <div class="header_nav-menu">Мои книги</div>
        <div class="header_nav-menu">О проекте</div>
    </div>
</div>
<div id="content">
    <div id="content-fb">
        <div id="fb-left">
            <div id="fb-search">
                <input type="text" placeholder="Поиск">
            </div>
            <div id="fb-book_list">
                <div class="fb-book_item">
                    <a class="fb-book_item-owner" href="https://vk.com/aygiz_obstinate">
                        <img src="https://pp.userapi.com/c630716/v630716015/559f0/cUjWkUZTZqI.jpg?ava=1" alt="Айгиз Мухамадиев">
                        <span>Айгиз Мухамадиев</span>
                    </a>
                    <div class="fb-book_item_image"><img  class="fb-book_item-image_img" src="https://books.google.com/books/content?id=y68ZhLkkOmEC&printsec=frontcover&img=1&zoom=0&edge=curl&source=gbs_api" alt="7 навыков высокоэффективных людей"></div>
                    <span class="fb-book_item-title">7 навыков высокоэффективных людей</span>
                    <span class="fb-book_item-author">Стивен Кови</span>
                    <span class="fb-book_item-comment">Могу подарить</span>
                </div>


                <div class="fb-book_item">
                    <a class="fb-book_item-owner" href="https://vk.com/aygiz_obstinate">
                        <img src="https://pp.userapi.com/c630716/v630716015/559f0/cUjWkUZTZqI.jpg?ava=1" alt="Айгиз Мухамадиев">
                        <span>Айгиз Мухамадиев</span>
                    </a>
                    <div class="fb-book_item_image"><img  class="fb-book_item-image_img" src="https://books.google.com/books/content?id=pIGzDQAAQBAJ&printsec=frontcover&img=0&zoom=0&edge=curl&source=gbs_api" alt="Как растут бренды"></div>
                    <span class="fb-book_item-title">Как растут бренды</span>
                    <span class="fb-book_item-author">Байрон Шарп</span>
                </div>

                <div class="fb-book_item">
                    <a class="fb-book_item-owner" href="https://vk.com/aygiz_obstinate">
                        <img src="https://m.vk.com/images/camera_100.png?ava=1" alt="Ришат Галин">
                        <span>Ришат Галин</span>
                    </a>
                    <div class="fb-book_item_image"><img  class="fb-book_item-image_img" src="https://books.google.com/books/content?id=419jDwAAQBAJ&printsec=frontcover&img=1&zoom=0&edge=curl&source=gbs_api" alt="7 навыков высокоэффективных людей"></div>
                    <span class="fb-book_item-title">Забей на любовь! Руководство по рациональному выбору партнера</span>
                    <span class="fb-book_item-author">М.Беннет, С.Беннет</span>
                </div>

                <div class="fb-book_item">
                    <a class="fb-book_item-owner" href="https://vk.com/choco_latepuma">
                        <img src="https://pp.userapi.com/c836120/v836120064/234f/IfGZCWGnXtc.jpg?ava=1" alt="Руслан Билалов">
                        <span>Руслан Билалов</span>
                    </a>
                    <div class="fb-book_item_image"><img  class="fb-book_item-image_img" src="https://books.google.com/books/content?id=y68ZhLkkOmEC&printsec=frontcover&img=1&zoom=0&edge=curl&source=gbs_api" alt="7 навыков высокоэффективных людей"></div>
                    <span class="fb-book_item-title">Бизнес как игра</span>
                    <span class="fb-book_item-author">Сергей Абдульманов</span>
                    <span class="fb-book_item-comment">Книга в Москве</span>
                </div>

                <div class="fb-book_item">
                    <a class="fb-book_item-owner" href="https://vk.com/choco_latepuma">
                        <img src="https://pp.userapi.com/c836120/v836120064/234f/IfGZCWGnXtc.jpg?ava=1" alt="Руслан Билалов">
                        <span>Руслан Билалов</span>
                    </a>
                    <div class="fb-book_item_image"><img  class="fb-book_item-image_img" src="https://books.google.com/books/content?id=y68ZhLkkOmEC&printsec=frontcover&img=1&zoom=0&edge=curl&source=gbs_api" alt="7 навыков высокоэффективных людей"></div>
                    <span class="fb-book_item-title">Бизнес как игра</span>
                    <span class="fb-book_item-author">Сергей Абдульманов</span>
                    <span class="fb-book_item-comment">Книга в Москве</span>
                </div>

            </div>
        </div>
        <div id="fb-right">
            <div id="fb-friends_list_list">
                <ul>
                    <li class="selected">Все</li>
                    <li>Семья</li>
                    <li>Универ</li>
                </ul>
            </div>
            <div id="fb-friends_list">
                <ul>
                    <li class="fb-friends_list-item">
                        <img src="https://pp.userapi.com/c630716/v630716015/559f0/cUjWkUZTZqI.jpg?ava=1" alt="Айгиз Мухамадиев">
                        <span>Айгиз Мухамадиев</span>
                    </li>
                    <li class="fb-friends_list-item">
                        <img src="https://m.vk.com/images/camera_100.png?ava=1" alt="Ришат Галин">
                        <span>Ришат Галин</span>
                    </li>
                    <li class="fb-friends_list-item">
                        <img src="https://pp.userapi.com/c836120/v836120064/234f/IfGZCWGnXtc.jpg?ava=1" alt="Руслан Билалов">
                        <span>Руслан Билалов</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-mb"  style="display: none">
        <div id="mb-privacy_settings">
            <h2>Настройка приватности</h2>
            <div id="mb-privacy_settings-left">
                <span>Кто видит список моих книг</span>
            </div>
            <div id="mb-privacy_settings-right">
                <select>
                    <option value="all-friends">Только друзья</option>
                    <option value="some-friends">Некоторые друзья</option>
                    <option value="some-friends-list">Некоторые списки друзей</option>
                </select>
                <div id="mb-privacy_settings-accepted_list">Одноклассники, Семья</div>
            </div>
        </div>
        <div id="mb-add_book">
            <form id="mb-add_book-form">
                <h2>Добавить книгу</h2>
                <div id="mb-add_book-form-inputs">
                    <label for="title">Название*</label>
                    <input name="title" id="title" type="text" placeholder="Название">
                    <label for="author">Автор*</label>
                    <input name="author" id="author" type="text" placeholder="Автор">
                    <label for="comment">Комментарий</label>
                    <input name="comment" id="comment" type="text" placeholder="Комментарий">
                </div>
                <div id="mb-add_book-form-submit"><input type="submit" class="button" value="Добавить"></div>
            </form>
        </div>
        <h2>Мои книги</h2>
        <div id="mb-book_list">
            <div class="mb-book_item">
                <a class="mb-book_item-owner" href="https://vk.com/aygiz_obstinate">
                    <img src="https://pp.userapi.com/c630716/v630716015/559f0/cUjWkUZTZqI.jpg?ava=1" alt="Айгиз Мухамадиев">
                    <span>Айгиз Мухамадиев</span>
                </a>
                <div class="mb-book_item_image"><img  class="mb-book_item-image_img" src="https://books.google.com/books/content?id=pIGzDQAAQBAJ&printsec=frontcover&img=0&zoom=0&edge=curl&source=gbs_api" alt="Как растут бренды"></div>
                <span class="mb-book_item-title">Как растут бренды</span>
                <span class="mb-book_item-author">Байрон Шарп</span>
                <div class="mb-book_item-actions">
                    <div class="mb-book_item-edit"><button name="edit" class="button">Редактировать комментарий</button></div>
                    <div class="mb-book_item-active"><button name=active" class="button">Активно</button></div>
                    <div class="mb-book_item-delete"><button name="delete" class="button">Удалить</button></div>
                </div>
            </div>
            <div class="mb-book_item">
                <a class="mb-book_item-owner" href="https://vk.com/aygiz_obstinate">
                    <img src="https://pp.userapi.com/c630716/v630716015/559f0/cUjWkUZTZqI.jpg?ava=1" alt="Айгиз Мухамадиев">
                    <span>Айгиз Мухамадиев</span>
                </a>
                <div class="mb-book_item_image"><img  class="mb-book_item-image_img" src="https://books.google.com/books/content?id=y68ZhLkkOmEC&printsec=frontcover&img=1&zoom=0&edge=curl&source=gbs_api" alt="7 навыков высокоэффективных людей"></div>
                <span class="mb-book_item-title">7 навыков высокоэффективных людей</span>
                <span class="mb-book_item-author">Стивен Кови</span>
                <span class="mb-book_item-comment">Могу подарить</span>
                <div class="mb-book_item-actions">
                    <div class="mb-book_item-edit"><button name="edit" class="button">Редактировать комментарий</button></div>
                    <div class="mb-book_item-active"><button name=active" class="button">Не активно</button></div>
                    <div class="mb-book_item-delete"><button name="delete" class="button">Удалить</button></div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-about"  style="display: none">
        Какой крутой проект!
    </div>
</div>
<div id="mb-friends_whitelist"  style="display: none">
    <div id="mb-friends_whitelist-header">
        <div id="mb-friends_whitelist-header-title">Выберите друзей</div>
        <div id="mb-friends_whitelist_header-close"></div>
    </div>
    <div id="mb-friends_whitelist-search">
        <div id="mb-friends_whitelist-search-form"><input type="text" placeholder="Начните вводить имя друга"></div>
        <div id="mb-friends_whitelist-search-shower"><span>показать выбранных</span><div class="ui_toggle selected"></div></div>
    </div>
    <div id="mb-friends_whitelist-friends_list">
        <div class="mb-friends_whitelist-friends_list-item">
            <img src="https://pp.userapi.com/c630716/v630716015/559f0/cUjWkUZTZqI.jpg?ava=1" alt="Айгиз Мухамадиев">
            <span>Айгиз Мухамадиев</span>
            <div class="friend_checkbox"></div>
        </div>
        <div class="mb-friends_whitelist-friends_list-item">
            <img src="https://m.vk.com/images/camera_100.png?ava=1" alt="Ришат Галин">
            <span>Ришат Галин</span>
            <div class="friend_checkbox selected"></div>
        </div>
        <div class="mb-friends_whitelist-friends_list-item">
            <img src="https://pp.userapi.com/c836120/v836120064/234f/IfGZCWGnXtc.jpg?ava=1" alt="Руслан Билалов">
            <span>Руслан Билалов</span>
            <div class="friend_checkbox"></div>
        </div>
    </div>
    <div id="mb-friends_whitelist-control">
        <button class="button transparent">Отмена</button>
        <button class="button">Сохранить</button>
    </div>
</div>
<div id="mb-friends_list_whitelist" style="display: none">
    <div id="mb-friends_list_whitelist-header">
        <div id="mb-friends_list_whitelist-header-title">Выберите списки друзей</div>
        <div id="mb-friends_list_whitelist_header-close"></div>
    </div>
    <div id="mb-friends_list_whitelist-friends_list">
        <div class="mb-friends_list_whitelist-friends_list-item">
            <span>Родные</span>
            <div class="friends_list_checkbox"></div>
        </div>
        <div class="mb-friends_list_whitelist-friends_list-item">
            <span>Универ</span>
            <div class="friends_list_checkbox selected"></div>
        </div>
        <div class="mb-friends_list_whitelist-friends_list-item">
            <span>Школа</span>
            <div class="friends_list_checkbox"></div>
        </div>
    </div>
    <div id="mb-friends_list_whitelist-control">
        <button class="button transparent">Отмена</button>
        <button class="button">Сохранить</button>
    </div>
</div>
</body>
</html>